/* CSS variables */
:root {
	--main-background-color: #f7f7f7;
	--button-background-color: #ba786d;
	--main-content-color: #d9d9d9;
	--layout-color: #eee2df;
	--main-font-style: ;
	--title-font-style: ;
	--text-font-size: ;
	--title-font-size: ;
}

/* Global settings */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
}

.montserrat-body-policed {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
}

/* Header */

header {
	display: flex;
	justify-content: space-between;
	padding: 16px;
}

.logo-neo-dev {
	width: 132px;
	height: fit-content;
}

h1 {
	font-family: Monoton, sans-serif;
	font-weight: 100;
}

.picture-upload-section {
	background-color: #d3b0aa;
	border-radius: 94px;
	padding: 54px;
	margin-right: 64px;
}

.picture-icon {
	width: 30px;
}

p {
	text-align: right;
	padding-right: 32px;
}

/* Popup */
.pop-up {
	background-color: #ba786d;
	margin: auto;
	border: solid 1px black;
	width: 50%;
	text-align: center;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	padding: 25px;
	background-color: white;
	transform: translate(-50%, -50%);
}

.pop-up > a {
	background-color: #f7f7f7;
	width: 25%;
	text-decoration: none;
}
/* Pop-up */

/* Main */

main {
	display: flex;
}

#section-1,
#section-2 {
	width: 40%;
	height: 500px;
}

h2 {
	align-self: center;
	margin: 16px;
	padding-bottom: 16px;
}

/* #section-1 {
	display: flex;
<<<<<<< HEAD
	justify-content: flex-end;
} */

#section-1 > form {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 0 15%;
	margin: 16px;
	gap: 32px;
}

input {
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
}

.titre-champ {
	margin-right: 32px;
}

#section-1 > label {
	padding: 32px;
}

#section-2 {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	gap: 15%;
	flex-direction: column;
}

#section-2 > form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 16px;
	margin-top: 138px;
	gap: 16px;
}

#section-2 {
	align-items: flex-start;
}

#language {
	display: flex;
	justify-content: flex-start;
}

.plus-circle-icon {
	height: 50%;
	margin-top: 8px;
}

/* Footer */

footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

footer > p {
	position: fixed;
	text-align: center;
	left: 0;
	bottom: 0;
	background-color: #ba786d;
	width: 100%;
	padding: 8px;
	margin-bottom: 0;
}

form > button {
	text-align: center;
	background-color: #ba786d;
	padding: 16px;
	margin: 8px;
	border: #8a3f32;
	border-radius: 32px;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
}

/* Media Queries */
@media screen and (min-width: 400px) and (max-width: 999px) {
	/* Code here */
}

@media screen and (min-width: 1000px) {
	/* Code here */
}
