/* CSS variables */
:root {
  --main-background-color: #f7f7f7;
  --button-background-color: #ba786d;
  --main-content-color: #d9d9d9;
  --layout-color: #eee2df;
  --main-font-style: ;
  --title-font-style: ;
  --text-font-size: ;
  --title-font-size: ;
}

/* Global settings */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Header */

.logo-neo-dev {
  width: 100px;
}

header > h1 {
  font-family: "Monoton", sans-serif;
  font-style: normal;
  font-weight: 100;
}
/* Settings main page
/* penser à mettre flex-wrap: wrap



/* Media Queries */
@media screen and (min-width: 400px) and (max-width: 999px) {
  /* Code here */
}

@media screen and (min-width: 1000px) {
  /* Code here */
}
