/* CSS variables */
:root {
  --main-background-color: #f7f7f7;
  --button-background-color: #ba786d;
  --main-content-color: #d9d9d9;
  --layout-color: #eee2df;
  --main-font-style: ;
  --title-font-style: ;
  --text-font-size: ;
  --title-font-size: ;
}

/* Global settings */

* {
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}
/* Settings main page
/* penser à mettre flex-wrap: wrap */

body {
  margin: 0;
}

a,
p,
h2,
h3, h4 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 12px;
  margin:0;
  padding : 8px 2px 8px 5px;
}

h4 {
  margin:0;
  padding : 5px;
}

/* Main settings */

/* Header */

/* Top layout */
.top-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  gap:10px;
}

.top-layout div {
  display: none;
}

.top-layout > div > input {
  border: none;
  margin: 0 0 0 5px;
}

#bouton-logo-sound {
  /* margin: 0 10px 0 0; */
  border: none;
  background-color: white;
  
}

#logo-sound {
  width: 40px;
  height: auto;
  margin: 0 10px;
}

#logo-sound:hover {
  width: 45px;
  height: 45px;
}

#top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#top-section > a:hover {
  font-weight: bolder;
}

.link-to:hover {
  font-weight: bolder;
} 

.logo {
  width: 16vw;
  height: auto;
}

.logo:hover {
  background-color: var(--button-background-color);
  border-radius: 50%;
}

h1 {
  font-family: "Monoton", sans-serif;
  font-weight: 100;
  margin: 0 0 5px 10px;
  word-spacing: 10px;
}

#reseau-profil-div {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  gap:15px;
}

#top-layout-reseaux,
#top-layout-profil {
  display: none;
  margin: 0 0 0 15px;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-around;
}

.nav-buttons {
  width: 28%;
  background-color: var(--button-background-color);
  border-radius: 10px;
  height: 30px;
  padding: 5px 5px 0 5px;
  text-align: center;
}

.nav-buttons:hover,
#button-add:hover {
  border: solid black 2px;
}

.general-icons:hover {
  border: solid white 1.5px;
}

nav > a {
  font-size: 14px;
}
/* Main */

/* Profil menu */

/* #post-container {
  scroll-behavior: smooth;
} */

#profil-menu,
#button-add {
  display: none;
}

#button-add {
  border: none;
  background-color: var(--button-background-color);
  border-radius: 10px;
  height: 10%;
  width: 75%;
  text-align: center;
  padding-top: 6px;
  font-size: 12px;
}

/* Post Layout */

#post-container {
  margin: 10px 0 0 0;
  width: 100%;
  border-style: solid;
  border-width: 0 1px;
  border-color: grey;
}

.general-icons {
  width: auto;
  height: 26px;
}

/* Hover of all icons*/
.general-icons:hover {
  background-color: white;
  height: 32px;
  border-radius: 50%;
}

h2 {
  font-size: 14px;
  font-weight: 400;
  margin: 0 10px 0 0;
}

#post-container > form {
  height: 64px;
  margin: 0.1px 0 0 0;
}

#commentary-section > textarea {
  width: 100%;
  background-color: var(--main-content-color);
  height: 58px;
  border-style: none;
  padding: 5px 0 0 10px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: black;
  margin-bottom: 5px;
}

.profil-layout {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px 0 10px 5px;
  background-color: var(--layout-color);
  border-style: solid;
  border-width: 1px 0;
  border-color: black;
  margin: 0;
  font-weight: 100;
  width: 100%;
}

.comment-layout {
  height: 48px;
  background-color: var(--layout-color);
  border-style: solid;
  border-width: 1px 0;
  padding: 5px 0 0 0;
  border-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#edit-profil {
  display: none ;
}


/* Other profils */
h3 {
  background-color: var(--button-background-color);
  height: 40px;
  font-size: 12px;
  margin: 0;
  padding: 10px 0 0 10px;
  font-weight: 400;
}

#profil-container {
  background-color: var(--main-background-color);
  border-style: solid;
  border-width: 1px 0;
  border-color: black;
  height: 45px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Bottom layout */

#blank-area {
  background-color: var(--main-content-color);
  width: 100%;
  height: 150px;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: black;
}

#bloc-messagerie {
  display: none;
  width: 35%;
  margin: 0 10px;
  padding: 0;
}

#message-container {
  height: 80%;
  margin: 15px 20px 0px 20px;
  border-width: 0 1px 1px 1px;
  border-color: grey;
  border-style: solid;
}

#message-overlay {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 20px;
  height: 10%;
  background-color: var(--main-content-color);
}

#bloc-messagerie img{
  width: auto;
  height: 26px;
}

#message-overlay > p {
  margin: 0 0 0 10px;
}

/* Bottom menu/Footer */
footer {
  background-color: var(--button-background-color);
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  width: 100%;
}

footer p {
  display: none;
}
/* Media Queries */
@media screen and (min-width: 450px) {
  #search-bar-div,
  #search-bar-div > img {
    display: flex;
    margin: 10px;;
  }

  #recherche-button {
    display: none;
  }

  #logo-sound {
    margin:0;
  }

  .top-layout {
    gap:0px;
  }
}

@media screen and (min-width: 500px) {
  #top-layout-reseaux {
    display: flex;
  }

  #reseau-button {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  #profil-button,
  #messagerie-button {
    display: none;
  }

  #top-layout-profil {
    display: flex;
  }

  footer > div {
    display: none;
  }

  footer p {
    display: flex;
  }

  main {
    display: flex;
    justify-content: space-between;
  }

  #bloc-messagerie {
    display: block;
  }

  #post-container {
    width: 65%;
  }

  #blank-area {
    border: none;
  }

  .nav-buttons {
    width: 20%;
  }

  .top-layout {
    height: 120px;
  }
  
}

@media screen and (min-width: 801px) {
  #profil-menu {
    display: block;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
  }

  #post-container {
    width: 50%;
  }

  #bloc-messagerie {
    width: 24%;
    margin: 0 5px;
  }

  #message-container {
    height: 80%;
    margin: 15px 10px 0px 10px;
  }

  #message-overlay {
    margin: 0 10px;
  }

  #profil-container,
  h3 {
    display: none;
  }

  #profil-menu > a > img {
    height: 100%;
    width: 50px;
    /* margin: 10px 20px; */
  }

  #button-add {
    display: block;
    height: 5%;
  }

  h1 {
    text-align: center;
    margin: 0 0 20px 0;
  }
}

@media screen and (min-width: 1070px) {
  .nav-buttons,
  #button-add {
    width: 150px;
  }

  .logo {
    width: 10vw;
  }

  nav {
    justify-content: center;
  }

  .nav-buttons {
    margin: 0 20px;
  }

  #profil-menu,
  #bloc-messagerie {
    width: 20%;
  }

  #post-container {
    width: 75%;
    height:100%;
  }

  header {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  html {
    height: 100%;
  }

  main {
    height: 585px;
  }
}

@media screen and (min-width: 1070px) {
  #profil-menu,
  #bloc-messagerie {
    width: 15%;
  }
}

@media screen and (min-width: 1800px) {
  #edit-profil {
    display: flex;
  }
}