/* CSS variables */
:root {
  --main-background-color: #f7f7f7;
  --button-background-color: #ba786d;
  --main-content-color: #d9d9d9;
  --layout-color: #eee2df;
  --main-font-style: ;
  --title-font-style: ;
  --text-font-size: ;
  --title-font-size: ;
}

/* Global settings */

* {
  box-sizing: border-box;
}
/* Settings main page */
/* penser à mettre flex-wrap: wrap*/

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Popup */
/* Popup forgot password*/

.popup-container-mdp {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

.popup-container-mdp.active {
  display: block;
}

.forgot-password-popup {
  width: 95%;
  max-width: 500px;
  min-width: 300px;
  max-height: 200px;
  padding: 20px;
  margin: 2px;
  box-sizing: border-box;
  background: #ba786d;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 5px;
  display: block;
  opacity: 1;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.forgot-password-popup p {
  margin: 10px 0;
  line-height: 1.4;
}

.forgot-password-popup form {
  margin-bottom: 15px;
}

.popupexit-forgot {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  color: #eee2df;
  background-color: black;
  font-family: "montserrat", sans-serif;
  font-size: 13px;
  padding: 8px 10px;
  border-radius: 5px;
  border: none;
}

#emoji1,
#emoji2,
#emoji3 {
  position: absolute;
  font-size: 100px;
  transition: transform 1s ease;
}

/*popup se connecter*/

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

.popup-container.active {
  display: block;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333333d3;
}

.popup {
  width: 95%;
  max-width: 500px;
  min-width: 300px;
  max-height: 200px;
  padding: 30px;
  margin: 2px;
  box-sizing: border-box;
  background: #ba786d;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 5px;
  display: block;
  opacity: 1;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.popup p {
  margin: 20px 0;
  line-height: 1.4;
}
.popuplink {
  text-decoration: none;
  color: black;
  background-color: #eee2df;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  width: 35%;
  height: 10%;
  text-align: center;
}
.popuplink:hover {
  border: solid black 2px;
}

.popupexit {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  color: #eee2df;
  background-color: black;
  padding: 8px 10px;
  border-radius: 5px;
  border: none;
}

h3 {
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/*header*/

header {
  display: flex;
  justify-content: center;
}

.logo {
  width: 150px;
  height: 150px;
  margin-top: 10%;
}

.logo:hover {
  background-color: var(--button-background-color);
  border-radius: 50%;
}

/*main*/

.img {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

.photos {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  transition: transform 1s ease;
  transform-origin: center;
}

.photos:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2) translate(0px);
}

.button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}

button {
  background-color: #ba786d;
  width: 140px;
  height: 40px;
  font-family: "montserrat", sans-serif;
  font-size: 13px;
  text-align: center;
  object-fit: cover;
  display: inline-block;
  justify-content: center;
  border: none;
  border-radius: 5%;
  font-weight: bold;
  cursor: pointer;
}
.inscription:hover {
  background-color: #eee2df;
}

h1 {
  font-family: "montserrat", sans-serif;
  font-size: 10px;
  font-weight: normal;
  padding: 10px;
  text-align: center;
}

.user-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.user-form label {
  font-family: "montserrat", sans-serif;
  font-size: 13px;
  margin-bottom: 2px;
  font-weight: bold;
}

.user-form input {
  width: 200px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: "montserrat", sans-serif;
  font-weight: bold;
}

.mdp-forgot {
  font-size: 10px;
  font-family: "montserrat", sans-serif;
  font-weight: normal;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.mdp-forgot:hover {
  font-weight: bold;
}

.connection {
  background-color: #eee2df;
  width: 100px;
  height: 30px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 8%;
  cursor: pointer;
}
.connection:hover {
  background-color: #ba786d;
}
/*footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "montserrat", sans-serif;
  font-size: 6px;
  margin: 0px 0;
  font-weight: normal;
  font-size: 10px;
}
.footer-espace {
  height: 100px;
}

/* Media Queries */

@media screen and (min-width: 10px) and (max-width: 399px) {
  /* Code here */
  .popup,
  .forgot-password-popup {
    height: auto;
    max-height: 90%;
  }

  .popuplink {
    width: 150px;
    font-size: 12px;
    text-align: center;
  }
}

@media screen and (min-width: 400px) and (max-width: 999px) {
  /* Code here */

  .popup,
  .forgot-password-popup {
    height: auto;
    max-height: 90%;
  }

  .popuplink {
    width: 50%;
    max-width: 150px;
    padding: 10px 15px;
    font-size: 14px;
    margin: 0 auto;
  }

  .img img {
    width: 100px;
    height: 100px;
  }
  .img {
    gap: 15px;
  }
}

@media screen and (min-width: 1000px) {
  /* Code here */

  .img img {
    width: 150px;
    height: 150px;
    /* transform: translateY(-30px);*/
  }
  .img {
    gap: 30px;
  }

  .logo {
    margin-top: 5%;
    transform: translateY(-50px);
  }

  button {
    width: 180px;
    height: 60px;
    font-size: 16px;
    border-radius: 5%;
  }

  footer {
    margin: 50px 0;
    padding: 20px;
  }
}
