/* CSS variables */
:root {
  --main-background-color: #f7f7f7;
  --button-background-color: #ba786d;
  --main-content-color: #d9d9d9;
  --layout-color: #eee2df;
  --main-font-style: ;
  --title-font-style: ;
  --text-font-size: ;
  --title-font-size: ;
}

/* Global settings */

* {
  box-sizing: border-box;
}
/* Settings main page */
/* penser à mettre flex-wrap: wrap*/

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
}

.logo {
  width: 150px;
  height: 150px;
  margin-top: 10%;
}

.logo:hover{
  background-color: var(--button-background-color);
  border-radius: 50%;
}

.img {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.photolady {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.ladylaugh {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.ladylaugh2 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.ladycomp {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}

button {
  background-color: #ba786d;
  width: 140px;
  height: 40px;
  font-family: "montserrat", sans-serif;
  font-size: 13px;
  text-align: center;
  object-fit: cover;
  display: inline-block;
  justify-content: center;
  border: none;
  border-radius: 5%;
  font-weight: bold;
  cursor: pointer;
}

h1 {
  font-family: "montserrat", sans-serif;
  font-size: 10px;
  font-weight: normal;
  padding: 10px;
  text-align: center;
}

.user-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.user-form label {
  font-family: "montserrat", sans-serif;
  font-size: 13px;
  margin-bottom: 2px;
  font-weight: bold;
}

.user-form input {
  width: 200px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: "montserrat", sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 10px;
  font-family: "montserrat", sans-serif;
  font-weight: normal;
  cursor: pointer;
}

.connection {
  background-color: #eee2df;
  width: 100px;
  height: 30px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 8%;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "montserrat", sans-serif;
  font-size: 6px;
  margin: 0px 0;
  font-weight: normal;
}
.footer-espace {
  height: 100px;
}

/* Media Queries */
@media screen and (min-width: 400px) and (max-width: 999px) {
  /* Code here */
  .img img {
    width: 100px;
    height: 100px;
  }
  .img {
    gap: 30px;
  }
}

@media screen and (min-width: 1000px) {
  /* Code here */
  .img img {
    width: 150px;
    height: 150px;
    transform: translateY(-30px);
  }
  .img {
    gap: 30px;
  }

  .logo {
    margin-top: 5%;
    transform: translateY(-50px);
  }

  button {
    width: 180px;
    height: 60px;
    font-size: 16px;
    border-radius: 5%;
  }

  footer {
    margin: 50px 0;
    padding: 20px;
  }
}
